{#
/**
 * @file
 * Theme override to display the showcase of the frontpage.
 *
 * @see templates/layout/page.html.twig for a full list of available variables.
 * @see twbase_preprocess_page()
 */
#}

<!--Front Showcase-->
{# Showcase size #}
{% set showcase_size = showcase_size is defined ? showcase_size : 'fullscreen' %}
{% set showcase_fullscreen = (showcase_size == 'fullscreen') %}

{# Showcase content position #}
{% set showcase_content_pos = showcase_content_pos is defined ? showcase_content_pos : 'default' %}
{% set showcase_pos_bottom = showcase_content_pos == 'bottom' %}

{% if showcase_fullscreen or showcase_pos_bottom %}
  {% set showcase_classes = 'tw-flex tw-items-center tw-justify-between' %}
{% else %}
  {% set showcase_classes = 'tw-pt-10' %}
{% endif %}

{% if showcase_fullscreen %}
  {% set showcase_classes = showcase_classes ~ ' tw-h-screen' %}
{% endif %}

<!--Showcase-->
<div class="showcase tw-relative tw-overflow-hidden {{ showcase_classes }} tw-px-4">

  <!--Showcase content-->
  <div class="tw-container tw-max-w-screen-xl tw-relative
    {% if showcase_pos_bottom %}
      md:tw-w-9/12 tw-w-full md:tw-bottom-16 sm:tw-col-span-1 tw-space-y-5 md:tw-space-y-8 {% if showcase_fullscreen %}tw-pt-60{% else %}tw-pt-72{% endif %}
    {% else %}
      tw-mx-auto tw-pt-40 tw-pb-32
    {% endif %}
    tw-px-4 tw-z-30">

    {% if showcase.title %}
      <h1 class="tw-max-w-5xl tw-text-4xl sm:tw-text-5xl xl:tw-text-7xl tw-font-semibold tw-text-white tw-prose tw-transition-all tw-duration-700">{{ showcase.title }}</h1>
    {% endif %}

    {% if showcase.introduction %}
      <div class="tw-max-w-3xl tw-text-lg md:tw-text-2xl tw-text-white tw-transition-all tw-duration-700 tw-pt-4 tw-prose">
        {{ showcase.introduction }}
      </div>
    {% endif %}

    {% if showcase.button_text and showcase.button_link %}
      <div class="tw-flex tw-justify-start tw-space-x-4">
        <a href="{{ showcase.button_link }}"
          {% if showcase.button_new_windows %}target="_blank"{% endif %}
          class="button button--primary button--lg tw-my-6 tw-py-4 tw-px-8">
          {{ showcase.button_text }}
        </a>
      </div>
    {% endif %}

  </div>

  {# The showcase image #}
  {% if showcase.image_path %}
    <img alt="Asian street at night" src="{{ showcase.image_path }}" loading="lazy" typeof="foaf:Image" class="tw-absolute tw-top-0 tw-left-0 tw-z-10 tw-w-full tw-h-full tw-object-cover">
  {% endif %}

  {# The overlay gradient #}
  {% if showcase_add_overlay %}
    {% include '@twbase/layout/partials/showcase_partials/_showcase_overlay.html.twig' %}
  {% endif %}

  {% if showcase_add_front_deco %}
    {% include '@twbase/layout/partials/showcase_partials/_showcase_divider_swirl.html.twig' %}
  {% endif %}

</div>
