{#
/**
 * @file
 * Theme override to display the showcase of a single page.
 *
 * @see templates/layout/page.html.twig for a full list of available variables.
 * @see twbase_preprocess_page()
 */
#}

<!--Showcase-->
<div class="showcase tw-relative tw-overflow-hidden tw-pt-12 tw-px-4" style="min-height: 32rem;">

  {% if showcase.title or showcase.submitted or showcase.introduction %}
    <!--Showcase content-->
    <div class="tw-container tw-max-w-screen-xl tw-relative tw-mx-auto tw-pt-40 tw-pb-32 tw-px-4 tw-z-30">
      <div class="tw-w-full tw-max-w-screen-xl tw-mx-auto tw-py-4">
        {# {{ page.showcase }} #}

        {% if showcase.title %}
          <h1 class="page-title tw-max-w-5xl tw-text-3xl lg:tw-text-5xl tw-font-semibold tw-text-white tw-transition-all tw-duration-700">{{ showcase.title }}</h1>
        {% endif %}

        {% if showcase.submitted %}
          <div class="tw-flex tw-mt-4 tw-max-w-3xl tw-text-lg md:tw-text-2xl tw-text-white tw-transition-all tw-duration-700 tw-pt-4">
            {% set submitted_author = showcase.submitted.author %}

            {% if submitted_author.picture %}
              <img src="{{ submitted_author.picture }}" loading="lazy" typeof="foaf:Image" class="tw-h-16 tw-w-16 tw-rounded-full tw-mr-2 tw-object-cover">
            {% endif %}
            <div class="tw-flex tw-flex-col tw-flex-1 tw-justify-around">
              {% if submitted_author.name %}
                <p class="tw-font-semibold tw-text-slate-200">
                  {% trans %}By {{ submitted_author.name }}{% endtrans %}
                </p>
              {% endif %}

              {% if showcase.submitted.created %}
                <p class="tw-font-semibold tw-text-base tw-text-slate-400">
                  {{ showcase.submitted.created }}
                </p>
              {% endif %}
            </div>
          </div>
        {% endif %}

        {% if showcase.introduction %}
          <div class="tw-flex tw-mt-3 tw-max-w-3xl tw-text-lg md:tw-text-2xl tw-text-white tw-transition-all tw-duration-700 tw-pt-4 tw-prose">
            {{ showcase.introduction }}
          </div>
        {% endif %}

      </div>
    </div>
  {% endif %}

  {# The showcase image #}
  {% if showcase.image_path %}
    <img src="{{ showcase.image_path }}" loading="lazy" typeof="foaf:Image" class="tw-absolute tw-top-0 tw-left-0 tw-z-10 tw-w-full tw-h-full tw-object-cover">
  {% endif %}

  {# The overlay gradient #}
  {% if showcase_add_overlay %}
    {% include '@twbase/layout/partials/showcase_partials/_showcase_overlay.html.twig' %}
  {% endif %}

  {% if showcase_add_deco %}
    {% include '@twbase/layout/partials/showcase_partials/_showcase_divider_swirl.html.twig' %}
  {% endif %}

</div>
