{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<div class="tw-flex tw-flex-row tw-items-center currentColor">
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo tw-pr-2 tw-tracking-widest currentColor focus:tw-outline-none focus:tw-shadow-outline">
      {# @todo: load logo from theme, or preprocess or something better thant this #}
      {# <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" /> #}
      <svg class="tw-fill-current tw-inline" height="56" width="54" viewBox="0 0 576 512">
        <path fill="currentColor" d="M546.2 9.7c-5.6-12.5-21.6-13-28.3-1.2C486.9 62.4 431.4 96 368 96h-80C182 96 96 182 96 288c0 7 .8 13.7 1.5 20.5C161.3 262.8 253.4 224 384 224c8.8 0 16 7.2 16 16s-7.2 16-16 16C132.6 256 26 410.1 2.4 468c-6.6 16.3 1.2 34.9 17.5 41.6 16.4 6.8 35-1.1 41.8-17.3 1.5-3.6 20.9-47.9 71.9-90.6 32.4 43.9 94 85.8 174.9 77.2C465.5 467.5 576 326.7 576 154.3c0-50.2-10.8-102.2-29.8-144.6z">
        </path>
      </svg>
    </a>
  {% endif %}
  {% if site_name or site_slogan %}
    <div class="currentColor">
      {% if site_name %}
        <a class="site-name tw-text-lg tw-font-semibold tw-uppercase" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      {% endif %}
      {% if site_slogan %}
        <span id="site-slogan" class="site-slogan tw-block tw-text-gray-200 tw-italic">{{ site_slogan }}</span>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}
